@import "variables";

#mainContainer {
	margin: 2%;
}

#listContainer {
	min-height: 70vh;
	text-align: center;
}

#mapContainer {
	min-height: 70vh;
	text-align: center;



	.areas {
	height: 20vh;
	}	
}
#area1 {
	background-color: $area1;
}

#area2 {
	background-color: $area2;
}

#area3 {
	background-color: $area3;
}

#area4 {
	background-color: $area4;
}

#area5 {
	background-color: $area5;
}

#area6 {
	background-color: $area6;
}

#area7 {
	background-color: $area7;
}

.navbar {
  background-color: $seafoam;
}

.navbar-form {
  text-align: center;
}

.navbar img {
  height: 50px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.dotborder {
	border: 3px dotted blue;
}